* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255 190 93);
}

h1 {
    font-weight: 800;
    font-size: 2.4rem;
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 167px;
    grid-gap: 10px;
    margin: 30px;
    overflow: hidden;
}

.wrapper div {
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.wrapper div img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    transition: 0.5s ease;  
}

.wrapper .item-1, .item-5, .item-13, .item-15 {
    grid-row: span 2;
}

.item-7 {
    grid-row: span 3;
}

.wrapper div img:hover {
   
        
        transform: scale(1.5) rotate(-5deg);
} 